/* using the font from poppins  */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* to avoid default padding and margin  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
/* anchor tag for go to next page  */
.list a {
  text-decoration: none;
  cursor: pointer;
  color: black;
  transition: 0.3s ease;
  position: relative;
  display: block;
}

/* contain all the anchor tag  */
.list {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

/* after hover change the color  */
.list a:hover,
.list a.active {
  color: #ff523b;
}

.list a.active::after {
  content: "";
  width: 60%;
  height: 2px;
  bottom: -0.3rem;
  background-color: #ff3131;
  position: absolute;
  left: 20px;
}
.list a::before {
  content: "";
  width: 0;
  height: 2px;
  bottom: -0.3rem;
  background-color: #ff3131;
  position: absolute;
  left: 0px;
  transition: 0.5s ease-in-out;
}
.list a:hover::before {
  content: "";
  width: 100%;
  height: 2px;
  bottom: -0.3rem;
  background-color: #ff3131;
  position: absolute;
  left: 0px;
  transition: 0.5s ease-in-out;
}

/* contain the ul and logo container  */
.navigation {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding: 2px;
  align-items: center;
  /* background-color: #f5ecec; */
  background-color: #fff;
  color: black;
  padding-bottom: 8px;
  position: sticky;
  border-bottom: 2px solid gray;
  z-index: 1000;
}
.nav-container img {
  height: 30px;
  padding-left: 10px;
  padding-right: 15px;
  width: 30px;
  margin-right: 15px;
  margin-left: 10px;
}

.search input {
  border: none;
  background-color: transparent;
  width: 100%;
}
.search input:focus {
  outline: none;
}
.searchs {
  background-color: white;
  color: black;
  width: 30%;
  border: solid black 2px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin: auto;
  border-radius: 40px;
  margin-left: 60px;
}
.searchs input {
  border: none;
  background-color: transparent;
  width: 100%;
}
.searchs input:focus {
  outline: none;
}
/* logo container */
.log {
  height: 9vh;
  clip-path: stroke-box;
}
/* logo image  */
.log img {
  height: 100%;
  margin-left: 60px;
  width: 250px;
}
/* main container of the advertisement section  */
.poster {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100vw;
}
/* contain the text container of the advertisement section  */
.two_poster {
  background-color: transparent;
  flex-basis: 50%;
}
/* advertisement image  */
.two_poster img {
  padding-top: 50px;
  background-color: transparent;
  margin-left: 80px;
  min-width: 300px;
}
/* advertisement heading  */
.two_poster h1 {
  font-size: 50px;
  padding-left: 170px;
  font-weight: bold;
}
/* advertisement sub heading  */
.two_poster h3 {
  padding-left: 220px;
  font-weight: bold;
}
/* small sub heading  */
.two_poster .three {
  font-weight: bold;
  padding-left: 280px;
}
/* first advertisment poster paragraph  */
.two_poster p {
  padding: 30px 0px;
  letter-spacing: 0.5px;
  padding-left: 100px;
  color: gray;
}
/* button for the first advertisment poster */
.btn {
  border-radius: 20px;
  border: 1px solid orangered;
  background: linear-gradient(to right, #ffd6d6, #ffb6c1);
  letter-spacing: 1px;
  padding: 12px 40px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 260px;
  margin-top: 10px;
  transition: background 0.5s;
}
/* simple button animation forn first advertisment poster  */
.btn:active {
  transform: scale(0.95);
}
/* main container for the first advertisment poster */
.poster {
  background: radial-gradient(#fff, #ffd6d6);
}
/* hold all the container in one main container  */
.arrival_collection {
  display: flex;
  overflow-x: hidden;
}
/* carry all the image in one container  */
.arrival_categoris {
  margin: 50px 0px;
}
/* category section image holder  */
.colum1 {
  flex-basis: 20%;
  min-width: 250px;
  border: 2px gray;
  flex-direction: column;
  display: flex;
  flex-direction: column;
}
/* category section image container  */
.colum1 img {
  margin-left: 50px;
  width: 150px;
  height: 160px;
  border-radius: 100%;
}
/* category section image small transform animation */
.colum1 img:active {
  transform: scale(0.97);
  transition: 0.9s;
}
/* h4 tag in the category section  */
.two {
  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
}
/* contain all the image in the latest product  and featured product section  */
.featured-container {
  overflow-x: hidden;
}
.colum2 {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 35%;
  min-width: 250px;
  border: 1px solid #cce7d0;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  padding: 25px;
  margin: 20px;
  cursor: pointer;
  position: relative;
}
/* latest protuct and featured product  image tag container  */
.colum2 img {
  width: 200px;
  height: 220px;
  border-radius: 25px;
}
/* latest product header and pragraph tag  */
.colum2 h4 {
  padding-left: 30px;
  letter-spacing: 0.5px;
  columns: #555;
  font-weight: normal;
}
/* latest product paragraph tag  */
.colum2 p {
  font-size: 14px;
  padding-left: 30px;
}
/* container to hold the ratting  */
.ratting {
  padding-left: 30px;
}
/* ratting icons main class  */
.ratting .fa {
  color: #ff523b;
}
/* ratting icon tag from fontawesome 4 icon  */
.ratting .fa-regular {
  color: #ff523b;
}
/* ratting icon tag fontawesome icon   */
.ratting .fa-solid {
  color: #ff523b;
}
/* hold the all products in the latest product section  */
.row {
  display: flex;
}
/* indian currency icon tag  */
p .fa-inr {
  color: #555;
}
/* offer page image section  */
.offer-container {
  overflow-x: hidden;
}
.offer-img {
  width: 600px;
  margin-left: 100px;
  padding: 50px;
}
/* offer page image and text holder container */
.row-1 {
  background: radial-gradient(#fff, #ffd6d6);
  padding-top: 20px;
  padding: 30px, 0;
  margin-bottom: 60px;
  display: flex;
  padding-right: 100px;
}
/* offer page separate image and text container */
.colum3 {
  background-color: transparent;
}
/* offer page inside header portion */
.offer-container h2 {
  text-transform: uppercase;
  padding-bottom: 20px;
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 46px;
  font-family: "Times New Roman", Times, serif;
}
/* offer page product details  */
small {
  padding: 20px 0px;
  letter-spacing: 0.5px;
  color: gray;
  margin-right: 180px;
}

/* offer page button  */
.btn2 {
  border-radius: 20px;
  border: 1px solid orangered;
  background: linear-gradient(to right, #ffd6d6, #ffb6c1);
  letter-spacing: 1px;
  padding: 12px 40px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 45px;
  transition: background 0.5s;
}
/* offer page button function */
.btn2:active {
  transform: scale(0.95);
}
/* offer portion paragraph */
.offer-p {
  color: gray;
  padding: 0;
  padding-bottom: 15px;
  padding-top: 80px;
  font-size: 20px;
}
/* all header portion */
.review-header {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 30px;
  letter-spacing: 4px;
  font-weight: bold;
  font-family: Georgia, Arial and Helvetica;
}
/* offer timer  */
#demo {
  font-weight: bold;
  font-size: 20px;
  width: 300px;
  color: black;
  margin-left: 2px;
  color: #ff3131;
}

.timmer {
  display: flex;
  gap: 5px;
  margin-top: 25px;
  color: #555;
}
.review-container {
  overflow-x: hidden;
}
.review-container .colo-3 {
  min-width: 300px;
  max-width: 300px;
  text-align: center;
  padding: 40px, 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
  gap: 40px;
  padding-top: 30px;
  margin-bottom: 50px;
  padding-bottom: 30px;
  overflow: hidden;
}
.review-container .colo-3:hover {
  transform: translateY(-10px);
}
.review-container .colo-3 img {
  width: 70px;
  margin-top: 20px;
  border-radius: 50%;
}
.fa.fa-quote-left {
  font-size: 34px;
  color: #ff523b;
}
.colo-3 p {
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
  color: #777;
}
.review-container .colo-3 h3 {
  font-weight: 600px;
  color: #555;
  font-size: 15px;
}
.row-3 {
  display: flex;
  gap: 10%;
  justify-content: space-around;
  justify-content: center;
}
.ratting-1 {
  padding-top: 5px;
}
.ratting-1 .fa {
  color: #ff523b;
}
/* ratting icon tag from fontawesome 4 icon  */
.ratting-1 .fa-regular {
  color: #ff523b;
}
/* ratting icon tag fontawesome icon   */
.ratting-1 .fa-solid {
  color: #ff523b;
}

/* footer page  */
.contact {
  background-color: #e4fff6;
  overflow: hidden;
}
.footer-1 h1 {
  font-family: "Mier book";
  padding-top: 40px;
  font-weight: 500;
  font-size: 40px;
  padding-bottom: 20px;
  padding-left: 60px;
}
.footer-1 p {
  padding-left: 60px;
  letter-spacing: 0.5px;
  font-size: 15px;
  color: #555;
}
.appstore {
  display: flex;
  padding-bottom: 50px;
}
.appstore .playstore {
  width: 250px;
  padding-top: 20px;
  padding-left: 60px;
}
.appstore .appsstore {
  width: 200px;
  padding-top: 20px;
  padding-left: 30px;
  display: flex;
}
.contact {
  display: flex;
}
.simple-contend {
  display: flex;
  flex-direction: column;
}
.simple-contend h3 {
  padding-top: 50px;
  padding-left: 100px;
  font-weight: 500;
  padding-bottom: 6px;
}
.simple-contend a {
  text-decoration: none;
  color: #555;
  padding-top: 7px;
  padding-left: 110px;
}
.simple-contend1 .social-media img {
  width: 60px;
  padding: 15px;
  cursor: pointer;
}
.social-media {
  display: flex;
}
.simple-contend1 h3 {
  padding-left: 90px;
  padding-top: 50px;
  font-weight: 500;
}
.simple-contend1 .social-media {
  margin-left: 80px;
}
.simple-contend-1 p {
  margin-left: 90px;
  letter-spacing: 0.5px;
  font-size: 15px;
  color: #555;
}
.simple-contend-1 h3 {
  padding-left: 90px;
  padding-top: 20px;
  font-weight: 500;
  padding-bottom: 7px;
}
.contact {
  padding-left: 20px;
}
.dropdowm li {
  list-style-type: none;
  transition: 5s;
}
.dropdowm {
  border: 2px solid gainsboro;
  width: 250px;
  padding: 10px;
  display: none;
  position: absolute;
  bottom: -233px;
  left: -100px;
  z-index: 300;
  background-color: white;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 15px;
  /* height: 200px; */
}
.dropdowm:hover {
  display: block;
}
.demo:hover + .dropdowm {
  display: block;
}
.demo2 {
  position: relative;
}
.list li {
  list-style-type: none;
}
.dropdowm h1 {
  padding-top: 20px;
  padding-left: 10px;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
}
.dropdowm p {
  padding-top: 10px;
  letter-spacing: 0.5px;
  color: #555;
  font-size: 15px;
  padding-left: 10px;
  text-align: center;
  padding-bottom: 20px;
}
.dropdowm button {
  color: #ffffff;
  border: 1px solid #f7a5cb;
  background-color: orangered;
  letter-spacing: 1px;
  font-size: 15px;
  width: 80%;
  padding: 10px;
  margin-left: 20px;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.7s ease-in;
  margin-bottom: 30px;
  text-align: center;
}
.box {
  position: relative;
}
#cart-count p {
  position: absolute;
  text-align: center;
}
#cart-count {
  position: absolute;
  top: -12px;
  right: 29px;
  z-index: 99;
  color: black;
  height: 20px;
  background-color: pink;
  width: 20px;

  border: 1px solid gray;
  border-radius: 100%;
  font-size: 12px;
  text-align: center;
}
#demo3::after {
  content: none;
}
#demo3::before {
  content: none;
}
/* -----------------cart sections------------ */
.cart {
  position: fixed;
  top: 0;
  right: -700px;
  width: 600px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  background-color: white;
  box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
  z-index: 1001;
  transition: 1s;
}
.cart-active {
  right: 0;
  transition: 1s;
}

.cart-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}
.cart-box {
  display: grid;
  grid-template-columns: 25% 57% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  position: relative;
}
.cart-img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
}
.detail-box {
  display: grid;
  row-gap: 0.5rem;
}
.price-box {
  display: flex;
  justify-content: space-between;
}
.cart-add-title {
  font-size: 13px;
  text-transform: uppercase;
  color: black;
  font-weight: 500;
  padding-top: 15px;
}
.cart-price {
  font-weight: 500;
  font-size: 1rem;
  color: #555;
}
.cart-amt {
  font-weight: 500;
  font-size: 1rem;
  color: black;
}
.cart-quantity {
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}
.cart-remove {
  font-size: 18px;
  color: red;
  padding-left: 16px;
  padding-top: 10px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 34px;
}
.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1, 5rem;
}
.total-title {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 10px;
}
.total-price {
  margin-top: 10px;
  font-size: 1rem;
  margin-left: 0.5rem;
}
.btn-buy {
  padding: 12px 20px;
  background-color: #ff523b;
  color: white;
  border: none;
  text-transform: uppercase;
  margin-top: 20px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}
#cart-close {
  position: absolute;
  top: 12px;
  right: 0.8rem;
  font-size: 1.8rem;
}
#cart-close:hover {
  border: 2px;
  background-color: rgb(255, 8, 8);
  color: white;
}
.addcart {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 1.5rem;
  background-color: #ff523b;
  color: white;
  padding: 8px;
  cursor: pointer;
  transition: 0.7s;
}
.addcart:hover {
  background-color: rgb(71, 212, 71);
}
iframe {
  width: 100%;
  height: fit-content;
}
.Home_body::-webkit-scrollbar {
  display: none;
}
/* -------------help center ------- */
.help {
  position: fixed;
  height: 100vh;
  width: 480px;
  top: 0;
  right: -600px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: rgb(231, 231, 231);
  z-index: 10003;
  transition: 1s;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.help::-webkit-scrollbar {
  display: none;
}

.help-active {
  right: 0;
  transition: 1s;
}
.fa-times-circle {
  font-size: 25px;
  position: absolute;
  top: 5px;
  right: 10px;
}
.helpimg {
  display: flex;
  margin-top: 10px;
  margin-left: 15px;
}
.cimg p {
  font-size: 14px;
}
.helpimg img {
  width: 17px;
  height: 17px;
}
.helps {
  font-size: 24px;
  font-weight: 600;
  margin-top: 40px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.help-search input {
  border: none;
  background-color: transparent;
  width: 100%;
}
.help-searchs input:focus {
  outline: none;
}
.help-searchs {
  background-color: white;
  color: black;
  width: 70%;
  border: solid black 1px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 30px;
}
.help-searchs input {
  border: none;
  background-color: transparent;
  width: 100%;
}
.help-searchs input:focus {
  outline: none;
}
.helpone {
  font-weight: 600;
  font-size: 18px;
  margin-left: 25px;
  margin-top: 40px;
}
.first-topic img {
  width: 100px;
  height: 100px;
}
.first-topic {
  background-color: white;
  border: 1px;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 200px;
  height: 180px;
  padding-top: 20px;
  transition: transform 0.5s;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.topic {
  padding-top: 10px;
  margin-top: 17px;
  text-align: center;
  border-radius: 20px;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}
.maintopic {
  margin-bottom: 30px;
}
.first-topic:hover {
  transform: translateY(-10px);
}
/* -----------------------help contend 1 -------------- */
.helpcontend1 {
  position: fixed;
  height: 100vh;
  width: 480px;
  top: 0;
  right: -680px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: rgb(231, 231, 231);
  z-index: 10004;
  transition: 1s;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.helpcontend1::-webkit-scrollbar {
  display: none;
  bottom: 0;
}

.helpcontend1-active {
  right: 0px;
  transition: 1s;
}
.helptopic {
  margin-left: 30px;
  margin-top: 50px;
}
.contend1 {
  font-weight: 500;
  font-size: 20px;
  color: black;
  margin-top: 10px;
  position: relative;
  letter-spacing: 0.5px;
  padding: 5px;
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.help1 {
  position: absolute;
  top: 9px;
  right: 10px;
}
.helppara {
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 400;
  display: none;
  margin-right: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.helpcontend2 {
  position: fixed;
  height: 100vh;
  width: 480px;
  top: 0;
  right: -680px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: rgb(231, 231, 231);
  z-index: 10004;
  transition: 1s;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.helpcontend2::-webkit-scrollbar {
  display: none;
}
.helpcontend3 {
  position: fixed;
  height: 100vh;
  width: 480px;
  top: 0;
  right: -680px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: rgb(231, 231, 231);
  z-index: 10004;
  transition: 1s;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.helpcontend3::-webkit-scrollbar {
  display: none;
}
.helpcontend4 {
  position: fixed;
  height: 100vh;
  width: 480px;
  top: 0;
  right: -680px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: rgb(231, 231, 231);
  z-index: 10004;
  transition: 1s;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.helpcontend4::-webkit-scrollbar {
  display: none;
}
.helpcontend5 {
  position: fixed;
  height: 100vh;
  width: 480px;
  top: 0;
  right: -680px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: rgb(231, 231, 231);
  z-index: 10004;
  transition: 1s;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.helpcontend5::-webkit-scrollbar {
  display: none;
}
.helpcontend6 {
  position: fixed;
  height: 100vh;
  width: 480px;
  top: 0;
  right: -680px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: rgb(231, 231, 231);
  z-index: 10004;
  transition: 1s;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.helpcontend6::-webkit-scrollbar {
  display: none;
}
.helpcontend2-active {
  right: 0px;
  transition: 1s;
}
.helpcontend3-active {
  right: 0px;
  transition: 1s;
}
.helpcontend4-active {
  right: 0px;
  transition: 1s;
}
.helpcontend5-active {
  right: 0px;
  transition: 1s;
}
.helpcontend6-active {
  right: 0px;
  transition: 1s;
}

/* -----loader------ */
.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: #f7f9fb;
  transition: opacity 2s, visibility 2s;
  z-index: 10000000;
}
.loader-hidden {
  opacity: 0;
  visibility: hidden;
}
.loader::after {
  content: "";
  height: 75px;
  width: 75px;
  border: 8px solid rgb(219, 214, 214);
  border-radius: 50%;
  border-top-color: #ff523b;
  animation: spin 0.75s ease infinite;
}

@keyframes spin {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.cart-contend {
  position: relative;
}

/* --------payment------ */
.payment-container {
  position: fixed;
  height: 100vh;
  width: 700px;
  top: 0;
  right: -1000px;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 10004;
  transition: 1s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  background-color: #fff;
}
.payment-container-active {
  right: 0;
  transition: 1s;
}
.payment {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.payment-container .input {
  outline: none;
  width: 90%;
  border: 1px solid #ccc;
  padding: 10px 15px;
}

textarea {
  outline: none;
  width: 90%;
  border: 1px solid #ccc;
  padding: 10px 15px;
}
.payment-container input:focus {
  border: 1px solid #000;
}

.pay {
  flex: 1 1 250px;
}
.payment-title {
  font-size: 20px;
  color: #333;
  padding-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.payment-input {
  margin: 15px 0;
}
.span {
  margin-bottom: 10px;
  display: block;
}
.payment-flex {
  display: flex;
  gap: 15px;
}
.payment-flex.payment-input {
  margin-top: 5px;
}
.payment-container img {
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}
.b4 {
  width: 100%;
  padding: 12px 20px;
  background-color: #ff523b;
  color: white;
  border: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.7px;
  cursor: pointer;

  right: 0;
}
#td {
  color: green;
  position: absolute;
  right: 287px;
  top: 586px;
}

#cart-close2 {
  position: absolute;
  top: 9px;
  right: 0.8rem;
  font-size: 1.8rem;
}
#cart-close2:hover {
  border: 2px;
  background-color: rgb(255, 8, 8);
  color: white;
}
.b5 {
  width: 100%;
  padding: 12px 20px;
  background-color: #ff523b;
  color: white;
  border: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.7px;
  cursor: pointer;
}
.input2 {
  font-size: 10px;
  font-weight: 500;
  margin-top: 11px;
}
/* #error {
  color: red;
  font-size: 13px;
  font-weight: 500;
  margin-left: 30px;
} */
